<div class="container animated" data-animation="fadeInRight" data-animation-delay="1000">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div id="profile">

            </div>

            <dl>
                <dt>Total distance commuting</dt><dd id="distance"><i class="fa fa-spin fa-spinner"></i> </dd>
                <dt>Total CO2 saved from commuting</dt><dd id="co2"><i class="fa fa-spin fa-spinner"></i> </dd>
                <dt>total calories burnt commuting</dt><dd id="calories"><i class="fa fa-spin fa-spinner"></i> </dd>
            </dl>


            <section class="tree">
                <img src="/assets/tree.png">
            </section>

        </div>
    </div>
</div>
