<div class="container animated">

    <div id="profile">

    </div>

    <dl>
        <dt>Total distance commuting</dt>
        <dd id="distance"><i class="fa fa-spin fa-spinner"></i></dd>
        <dt>Total CO2 saved from commuting</dt>
        <dd id="co2"><i class="fa fa-spin fa-spinner"></i></dd>
        <dt>total calories burnt commuting</dt>
        <dd id="calories"><i class="fa fa-spin fa-spinner"></i></dd>
    </dl>

</div>
<section class="tree">
    <div id="trees"></div>
    <img src="/assets/tree.png">
</section>