<!-- Social Icons -->
<nav class="socials-icons onstart animated fadeIn visible" data-animation="fadeIn" data-animation-delay="1400">

    <section class="contact"><i class="fa fa-phone"></i> &nbsp; 01872 553107</section>
    <ul>
        <li><a href="https://www.facebook.com/St-Agnes-garage-463467317365986"><i class="fa fa-facebook"></i></a></li>
        <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
        <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
        <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
        <!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
        <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
    </ul>
</nav>