<!-- Navigation -->
<!--<nav id="navigation" class="site-nav navigation navbar" data-animation="fadeInDown" data-animation-delay="800">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">-->
                <!--<i class="fa fa-bars"></i>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="/">-->
                <!--<h1>Carbon Strava</h1>-->
            <!--</a>-->

        <!--</div>-->
        <!--<div id="main-nav" class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav navbar-right nav-tour">-->
                <!--<li><a href="/">Home</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="nav_border"></div>-->
<!--</nav>-->
