<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115927833-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-115927833-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>commuter stats - {{ title }}</title>

    <!-- META DATA -->


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="author" content="">

    <style>
        <!--
        inject:css

        -->
        <!--
        endinject

        -->
    </style>

    <!-- description and share tags -->
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="commuter stats">
    <meta property="og:url" content="https://commuter-stats.netlify.com{{ url }}">
    <meta property="og:site_name" content="commuter stats">
    <meta property="og:image" content="https://commuter-stats.netlify.com/assets/tree.png" />
    <meta property="og:description" content="{{ description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="commuter stats">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://commuter-stats.netlify.com/assets/tree.png" />
</head>
<body class="csstransitions">

<script type="text/javascript" src="/assets/js/templates.js"></script>
<script type="text/javascript" src="/assets/js/maintain.js"></script>



{% include "layouts/elements/header.html" %}

<!-- General Section -->
    <section id="mainContent">

        {% block content -%}{% endblock -%}

</section>

{% include "layouts/elements/footer.html" %}

<!-- JS -->


</body>
</html>
