#profile {

  img {

    border-radius:50%;
    border:1px solid #616161;

    &.tree {

      padding: 2em 0;
    }
  }
  h2 {


    span {
      display:block;
      color: #8c8c8c;
      font-size: 0.7em;
    }
  }

}

.tree {

  margin-top:2em;
  border-bottom: 1px solid #ccc;
  vertical-align: auto;
  position: relative;

  #trees {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: green;
    font-weight: 900;
  }
}
.definitions {

  display:flex;
  flex-wrap: wrap;

  article {

    width: 100%;

    i {
      margin:1rem auto;
      color:#6f6f6f;
    }
    h2 {
      font-size: 1em;
      color: #8f8f8f;
    }
    h3 {
      font-size:2.5em;
      font-weight:900;
      padding-bottom:0.5em;
    }
  }
}


@media (min-width: 768px) {
  .definitions {

    article {

      width: 50%;
    }
  }

}