#profile {

  img {

    border-radius:50%;
    border:1px solid #000
  }
  h2 {


    span {
      display:block;
      color: #8c8c8c;
      font-size: 0.7em;
    }
  }

}

.tree {

  margin-top:2em;
  border-bottom: 1px solid #ccc;
  vertical-align: auto;
  position: relative;

  #trees {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: green;
    font-weight: 900;
  }
}

dl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

dd, dt {
  flex-basis: 50%;
}

dt {
  color: #8f8f8f;
}
dd {
  font-size:1.2em;
  padding-bottom:0.5em;
  border-bottom:1px solid #8f8f8f;
}

@media (min-width: 768px) {
  dl {
    height: 5em;
  }
  dd {
    //padding-bottom:0.5em;
    border-bottom:0;
  }

}