html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


/* ==================================================================
	3.0 Basic Document Styles
================================================================== */

body {
  padding:0 0 2em 0;
  color: $font-colour;
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  white-space: normal;
}

nav {
  border-bottom: 1px solid #616161;
  margin-bottom: 1em;

  h1 {

    text-align: center;
    font-size: 2.5em;
    color: #6f6f6f;
  }
}
/* ==================================================================
	4.0 Typography
================================================================== */


h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.2em;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 48px;
  position: relative;
}

h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
}

h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 22px;
}

h5 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

p {
  margin-bottom: 20px;
}

a, a > * {
  color: #2a6496;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover, a > *:hover, a:focus {
  text-decoration: none;
  outline: 0;
}


/* ==================================================================
	5.0 Basic Layout Styles
================================================================== */

section {
  text-align: center;
}

.csstransitions .animated,
.animated {
  visibility: hidden;
}

.csstransitions .visible {
  visibility: visible;
}

/* ==================================================================
	19.0 Responsive
================================================================== */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width:100%;
}
@media (min-width: 768px) {

  body {

    padding:0 2em 2em;

    h1 {
      text-align:left;
    }
  }

  .container {
    width: 1170px;
  }
}

//@media(max-width:991px){
//
//  h1 {
//    font-size: 50px;
//  }
//
//  h2 {
//    font-size: 44px;
//  }
//
//  h3 {
//    font-size: 26px;
//  }
//
//}
